@layout('layouts.dashboard')

@section('body')
<div class="container mt-5">

    <form class="col-md-8 m-auto" action="{{ route('need.store') }}" method="POST">
        <h1>Crear necesidad</h1>

        <div class="form-group">
            <label for="">Nombre</label>
            <input class="form-control" type="text" name="need" placeholder="Nombre">
        </div>

        <button type="submit" class="btn btn-primary ">Registrar</button>
    </form>

</div>
@endsection